/* config */
:root{
    --colorLetra:rgb(0, 0, 0);
    --colorFondo:rgb(206, 206, 206);
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-size: 100%;
    font-family: sans-serif,'Courier New', Courier, monospace, sans-serif;
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    border: none;
    background-color: unset;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    border: none;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
}

/* body */
body{
    background-color: var(--colorFondo);
    transition: background-color 1s;
}
/* nav */
.nav{
    width: 80%;
    margin: auto;
    min-width: 15rem;
}
.nav__contenido{
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row nowrap;
}
.nav__btn{
    margin-right: 1.5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 1rem var(--colorLetra);
    border-radius: 3rem;
    color: var(--colorLetra);
}
.nav__btn.activo{
    box-shadow: 0rem 0rem 1rem var(--colorLetra) inset;
}
.nav__svg{
    width: 1.5rem;
    height: 1.5rem;
}
.navBtn__p{
    margin: 0rem 1rem;
}

/* header */
.header{
    width: 80%;
    min-width: 15rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2rem;
    box-shadow: 0rem 0.3rem 0.5rem black;
    color: var(--colorLetra);
}
.header__txt{
    margin: auto 2rem;
    text-align: center;
    line-height: 3rem;
}
.hedaer__h1{
    font-size: 3em;
}
.header__p{
    font-size: 2em;
}
.header__link{
    font-size: 1.5em;
}
.header__a{}
.header__imgContenedor{
    width: 30%;
    min-width: 13rem;
}
.header__img{
    border-radius: 3rem;
    box-shadow: 0rem 0rem 0.5rem var(--colorLetra);
}

/* main - section */
.main{
    width: 80%;
    min-width: 15rem;
    margin: auto;
    color: var(--colorLetra);
}
.main__separador{
    width: 100%;
    height: 2.5rem;
}
.section{
    width: 100%;
    min-height: 50vh;
    box-shadow: 0rem 0.3rem 0.5rem black;
}
.section__titulo{
    padding: 1rem 2rem;
}
.section__h2{}
.section__contenido{
    padding: 1rem 2rem;
    width: 100%;
}
.section__imgProyecto{}

.section__p{
    font-size: 1.1em;
    line-height: 1.6rem;
}

.footer{
    width: 100%;
    background-color: gray;
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--colorLetra);
}
.footer__titulo{
    padding: 0.5rem;
}
.footer__ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__li{
    padding: 1rem;
}