/* config */
:root{
    --colorLetra:rgb(0, 0, 0);
    --colorFondo:rgb(206, 206, 206);
}
/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    font-size: 100%;
    font-family: sans-serif,'Courier New', Courier, monospace, sans-serif;
    scroll-behavior: smooth;
}
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style: none;
}
a{
    border: none;
    background-color: unset;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
button{
    border: none;
    background-color: inherit;
    font-size: 1em;
    cursor: pointer;
}

/* body */
body{
    background-color: var(--colorFondo);
    transition: background-color 0.5s;
}
/* nav */
.nav{
    width: 80%;
    margin: auto;
    min-width: 15rem;
}
.nav__contenido{
    width: 100%;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}
.nav__btn{
    margin: 0rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0rem 0rem 0.5rem var(--colorLetra);
    border-radius: 1rem;
    color: var(--colorLetra);
}
.nav__btn.activo{
    box-shadow: 0rem 0rem 0.5rem var(--colorLetra) inset;
}
.nav__svg{
    width: 1.5rem;
    height: 1.5rem;
}
.navBtn__p{
    margin: 0rem 1rem;
}

/* header */
.header{
    width: 80%;
    min-width: 15rem;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    padding: 2rem;
    color: var(--colorLetra);
    border-radius: 2rem;
}
.header__txt{
    margin: auto 2rem;
    text-align: center;
    line-height: 3rem;
}
.header__h1{
    font-size: 3em;
}
.header__p{
    font-size: 2em;
}
.header__link{
    padding: 1rem;
}
.header__a{
    margin: 1rem;
}
.header__svg{
    width: 2rem;
    height: 2rem;
}
.svg__github{
    transition: color 0.5s, background-color 0.5s;
}
.svg__github:hover{
    color: rgb(36, 196, 76);

}
.svg__linkedin{
    transition: color 0.5s, background-color 0.5s;
}
.svg__linkedin:hover{
    color: rgb(0, 114, 177);
}
.header__imgContenedor{
    width: 30%;
    min-width: 13rem;
    max-width: 20rem;
}
.header__img{
    border-radius: 3rem;
}

/* main - section */
.main{
    width: 80%;
    min-width: 15rem;
    margin: auto;
    color: var(--colorLetra);
}
.main__separador{
    width: 100%;
    height: 2.5rem;
}
.section{
    width: 100%;
    min-height: 50vh;
    box-shadow: 0rem 0rem 0.3rem var(--colorLetra);
    border-radius: 2rem;
}
.section__titulo{
    padding: 2rem;
}
.section__h2 , .header__p{
    position: relative;
    width: fit-content;
}
.section__h2::after , .header__p::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: var(--colorLetra);
    left: 0;
    top: 100%;


}
.section__contenido{
    padding: 1rem 2rem;
    width: 100%;
}
/* proyectos */
.proyecto__contenido{
    margin-bottom: 1rem;
}
.proyecto{
    width: 14rem;
    max-width: 100%;
    padding: 0.5rem;
    background-color: var(--colorFondo);
    box-shadow: 0rem 0rem 0.3rem var(--colorLetra);
    border-radius: 1rem;
}
.proyecto__imgContenedor{
    width: 100%;
}
.proyecto__img{
    border-radius: 1rem;
}
.proyecto__txt{
    padding: 0.5rem;
    text-align: center;
}
/* .proyecto__h2{} */
/* sobre mi */
.section__p{
    font-size: 1.1em;
    line-height: 1.6rem;
}
/* footer */
.footer{
    width: 100%;
    min-width: 15rem;
    background-color: rgb(59, 59, 59);
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
    color: var(--colorLetra);
}
.footer__titulo{
    padding: 0.5rem;
}
.footer__ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__li{
    padding: 1rem;
}
.footer__svg{
    width: 2rem;
    height: 2rem;
}